#rowstyle{
    background:black;
    height: 10vh;
}
#style1{
    background-color: yellow;
    height: 10vh;
}
#style2{
    background-color: red;
    height: 10vh;
}
#style3{
    background-color: blue;
    height: 10vh;
}